@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}



@layer base{
  body{
    @apply bg-primary font-primary text-white leading-loose px-4 md:px-12 pt-5 overflow-x-hidden
  }
}

.button{
  @apply bg-accent flex items-center justify-center rounded-md text-sm xl:text-base text-primary font-semibold transition-colors px-2 xl:px-4  py-2 outline-none;
}

button:hover{
  @apply bg-accent-hover
}


.input{
  @apply bg-primary rounded-md indent-4 h-12 focus-within:border-accent focus:border-[1px] outline-none
}

.input-pic{
  @apply flex justify-start items-center  w-full bg-primary focus-within:border-accent focus-within:border-[1px] rounded-md px-2;
}



/* Animations */
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

